<div class="section" id="index-banner">
  <div class="container">
    <div class="row" style="margin-bottom: 0;">
      <div class="col s12 m8 offset-m1 xl7 offset-xl1 center-on-small-only">
        <h1 class="header">Getting Started</h1>
        <h4 class="light">Learn how to easily start using Materialize in your website.</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--  Outer row  -->
  <div class="row">

    <div class="section col s12 m8 offset-m1 xl7 offset-xl1">
      <div id="download" class="section scrollspy">
        <div class="row">
          <div class="col s12">
            <h3 class="header">Download</h3>
            <p class="caption ">Materialize comes in two different forms. You can select which version you want depending on your preference and expertise. To start using Materialize, all you have to do is download one of the options below.</p>
          </div>
          <div class="col s12 m6">
            <h5>Materialize</h5>
            <p>This is the standard version that comes with both the minified and unminified CSS and JavaScript files. This option requires little to no setup. Use this if you are unfamiliar with Sass.</p>
            <a id="download-source" class="btn waves-effect waves-light" href="https://github.com/materializecss/materialize/releases/download/1.2.2/materialize-v1.2.2.zip">Materialize<i class="material-icons right">file_download</i></a>
          </div>
          <div class="col s12 m6">
            <h5>Sass</h5>
            <p>This version contains the source SCSS files. By choosing this version you have more control over which components to include. You will need a Sass compiler if you choose this option.</p>
            <a id="download-sass" class="btn waves-effect waves-light" href="https://github.com/materializecss/materialize/releases/download/1.2.2/materialize-src-v1.2.2.zip">Source<i class="material-icons right">file_download</i></a>
          </div>
          <div class="col s12">
            <br>
            <h5>CDN</h5>
            <p>You can find all the versions of the CDN at <a href="https://www.jsdelivr.com/package/npm/@materializecss/materialize">jsDelivr</a>.</p>
            <pre style="padding-top: 0px;">
              <span class="copyMessage">Copied!</span>
              <i class="material-icons copyButton">content_copy</i>
              <code class="language-markup copiedText">
    &lt;!-- Compiled and minified CSS -->
    &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/css/materialize.min.css">

    &lt;!-- Compiled and minified JavaScript -->
    &lt;script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/js/materialize.min.js">&lt;/script>
            </code></pre>
          </div>
          <div class="col s12">
            <br>
            <h5>NPM</h5>
            <p>You can also get the latest release using NPM. This release contains source files as well as the compiled CSS and JavaScript files.</p>
            <pre><code class="language-bash">
    npm install @materializecss/materialize
            </code></pre>
          </div>
          <div class="col s12">
            <br>
            <h5>Yarn</h5>
            <p>Since <strong><a href="https://bower.io/blog/2017/how-to-migrate-away-from-bower/">Bower is deprecated</a></strong>, you can get the latest release using yarn as your favorite package manager.</p>
            <pre><code class="language-bash">
    yarn add @materializecss/materialize
            </code></pre>
          </div>
        </div>
      </div>

      <div id="download-thanks" class="row">
        <h3 class="col s12 header">Thanks for Downloading!</h3>
        <p class="caption col s12">We hope you find Materialize useful in your next project. We would appreciate if you helped us spread the word about Materialize by giving us a star.</p>
        <div class="row">
          <div class="col l3 s12 center" style="overflow: hidden;">
            <iframe src="https://ghbtns.com/github-btn.html?user=materializecss&repo=materialize&type=star&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <br>
          </div>
        </div>
      </div>

      <div id="setup" class="row scrollspy">
        <div class="col s12">
          <h3 class="header">Setup</h3>
          <h5>Project Structure</h5>
          <p>After downloading, extract the files into the directory where your website is located. Your directory will look something like this.</p>
          <p>You'll notice that there are two sets of the files. The <code class="language-markup">min</code> means that the file is "compressed" to reduce load times. These minified files are usually used in production while it is better to use the unminified files during development.</p>

          <pre><code class="language-markup directory-markup">
  MyWebsite/
  |--css/
  |  |--materialize.css
  |
  |--fonts/
  |  |--roboto/
  |
  |--js/
  |  |--materialize.js
  |
  |--index.html
          </code></pre>
        </div>
      <div class="col s12">
        <h5>HTML Setup</h5>
        <p>Next you just have to make sure you link the files properly in your webpage. Generally it is wise to import javascript files at the end of the body to reduce page load time. Follow the example below on how to import Materialize into your webpage.</p>
        <pre style="padding-top: 0px;">
          <span class="copyMessage">Copied!</span>
            <i class="material-icons copyButton">content_copy</i>
            <code class="language-markup copiedText">
  &lt;!DOCTYPE html>
  &lt;html>
    &lt;head>
      &lt;!--Import Google Icon Font-->
      &lt;link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      &lt;!--Import materialize.css-->
      &lt;link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      &lt;!--Let browser know website is optimized for mobile-->
      &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    &lt;/head>

    &lt;body>

      &lt;!--JavaScript at end of body for optimized loading-->
      &lt;script type="text/javascript" src="js/materialize.min.js">&lt;/script>
    &lt;/body>
  &lt;/html>
            </code>
          </pre>
      </div>
    </div>

    <!-- Templates -->
    <div id="templates" class="scrollspy">
      <div class="row">
        <div class="col s12">
          <h3 class="header">Templates</h3>
          <p class="caption">
            We have created some starter templates so you can easily start designing your website
            with minimal setup up time. Browse through our collection and download your best fit.
          </p>
        </div>

        <div class="col s12 m6">
          <h5>Starter Template</h5>
          <a href="templates/starter-template/preview.html">
            <img class="z-depth-1" style="width: 100%;" src="images/starter-template.gif">
          </a>
          <p>This is the simplest starter page with a Header, Call-to-Action, and Icon Features. </p>
          <a class="btn waves-effect waves-light" style="margin-top: 8px;" href="templates/starter-template/preview.html">
            Demo <i class="material-icons right">search</i>
          </a>
          <a class="btn waves-effect waves-light" style="margin-top: 8px;" href="templates/starter-template.zip">
            Download<i class="material-icons right">file_download</i>
          </a>
        </div>

        <div class="col s12 m6">
          <h5>Parallax Template</h5>
          <a href="templates/parallax-template/preview.html">
            <img class="z-depth-1" style="width: 100%;" src="images/parallax-template.jpg">
          </a>
          <p>This is the simplest starter page with a Header, Call-to-Action, and Icon Features. </p>
          <a class="btn waves-effect waves-light" style="margin-top: 8px;" href="templates/parallax-template/preview.html">
            Demo<i class="material-icons right">search</i>
          </a>
          <a class="btn waves-effect waves-light" style="margin-top: 8px;" href="templates/parallax-template.zip">
            Download<i class="material-icons right">file_download</i>
          </a>
        </div>
      </div>
    </div>



      <!-- Third Party Options -->
      <div id="third-party-options" class="row scrollspy">
        <div class="col s12">
          <h3 class="header">Third-party Options</h3>
          <p class="caption">There are a few community-made options for you to easily include Materialize in your project. Keep in mind these are untested and may be out-of-date.</p>
          <h5>Ruby Gem</h5>
          <p>See <a href="https://github.com/mkhairi/materialize-sass">here</a> for documentation on this gem.</p>
          <pre><code class="language-bash">
  gem 'materialize-sass'
          </code></pre>
      </div>
    </div>

    <div id="sass" class="row scrollspy">
      <div class="col s12">
        <h3 class="header">Sass Setup</h3>
        <p class="caption">This section is only relevant if you chose to download the Sass version of Materialize.</p>
        <h5>Compiling Sass</h5>
        <p>Instead of having a css folder, you will find that the download instead contains many .scss files which contain the styles of individual components. Unfortunately, the browser cannot interpret Sass, so you must have your Sass compiler compile the scss/materialize.scss into a regular CSS file. At this point you can link this newly outputted file in your HTML page.</p>

        <pre><code class="language-markup directory-markup">
  MyWebsite/
  |--css/
  |  |--materialize.css &lt;-- compiled from scss/materialize.scss
  |
  |--js/
  |  |--materialize.js
  |
  |--scss/
  |  |--materialize.scss
  |  |--components/
  |
  |--index.html
        </code></pre>
      </div>
    </div>

    </div>
    <!-- Table of contents -->
      <div class="col hide-on-small-only m3 xl3 offset-xl1">
        <div class="toc-wrapper">
          <div style="height: 1px;">
          <ul class="table-of-contents">
            <li><a href="#download">Download</a></li>
            <li><a href="#setup">Setup</a></li>
            <li><a href="#templates">Templates</a></li>
            <li><a href="#third-party-options">Third-party Options</a></li>
            <li><a href="#sass">Sass</a></li>
          </ul>
          </div>
        </div>
      </div>

  </div>
</div>