      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <div class="row center">
            <div class="col s12 m10 offset-m1">
              <h1 class="header">Materialize</h1>
            </div>
            <div class="col s12 m8 offset-m2">
              <h4 class="light">Simple. Built on open source. The responsive front-end library based on Google's Material Design.</h4>
            </div>
          </div>
          <div class="row center">
            <a href="getting-started.html" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
          </div>
          <div class="row center"><a class="current-version-number" href="https://github.com/materializecss/materialize">Release: 1.2.2</a></div>
          <br>
        </div>
        <div class="github-commit">
          <div class="container">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <div class="commit">
                  Latest Commit on Github:
                  &nbsp;&nbsp;
                  <a href="" class="sha"></a>
                  &nbsp;&nbsp;
                  <span class="date"></span>
                  <a id="github-button" href="https://github.com/materializecss/materialize" class="btn right waves-effect waves-light hide-on-small-only">Github</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
              <p class="grey-text" style="font-size: 0.8em;">Note : This is a community-managed fork of the official MaterializeCSS library.
                Since the project's support has been dropped by the original team, this version is 100% community-powered, meaning that bug fixes or new features
                are implemented by volunteers but are not official.</p>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="section">

          <div class="row">
            <div class="col s12 m10 offset-m1">

              <!--   Promo Section   -->
              <div class="row">
                <div class="col s12 m4">
                  <div class="center promo">
                    <i class="material-icons">flash_on</i>
                    <p class="promo-caption">Speeds up development</p>
                    <p class="light center">Most of the heavy lifting is done for you to provide a default stylings that incorporate our custom components. We also refined animations and transitions to provide a smoother experience for developers.</p>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="center promo">
                    <i class="material-icons">group</i>
                    <p class="promo-caption">User Experience Focused</p>
                    <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="center promo">
                    <i class="material-icons">settings</i>
                    <p class="promo-caption">Easy to work with</p>
                    <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
